# Entity linking with Spacy plugins

Use pip environment : cf. instructions.md


* EntityLinker
* Tapioca

In [1]:
import spacy
import psycopg2
import pandas as pd
from spacy.tokens import Span
from spacy import displacy
from time import strftime, gmtime

In [2]:
from itables import init_notebook_mode, show
import re
from importlib import reload

In [3]:
import warnings
warnings.filterwarnings('ignore')

In [6]:
import postgresql_functions as pgf
import settings as stt

In [5]:
# reload(pgf)

In [7]:
### connect to the local database
conn = psycopg2.connect(host="localhost", port = 5432, database="espace_intellectuel", 
                        user="postgres", password=stt.dbw)
#conn

In [5]:
#conn.close()

In [8]:
q1 = """
select pk_mathshistory, "name", url, dates, length(biography) as eff, coreferenced_txt, biography 
from mathshistory.mathshistory m 
where pk_mathshistory in (103, 117, 133, 159, 186);
"""

In [12]:
result = pgf.sql_explore(q1, conn)
# print(f'Lines count: {len(result[0])}, errors count: {len(result[1])}, \nFirst lines: {result[0][:5]}')

In [13]:
textes = pd.DataFrame(result[0])
textes.columns = ['id', 'name', 'url', 'dates', 'length_bio', 'coref_texte', 'biog']

In [14]:
textes.head()

,id,name,url,dates,length_bio,coref_texte,biog
0,103,Christopher Clavius,https://mathshistory.st-andrews.ac.uk/Biograph...,1538-1612,10616,Christopher Clavius was born in a German regio...,Christopher Clavius was born in a German regio...
1,117,Michael Mästlin,https://mathshistory.st-andrews.ac.uk/Biograph...,1550-1631,10122,Michael Mästlin was born in Göppingen which wa...,Michael Mästlin was born in Göppingen which wa...
2,133,Giuseppe Biancani,https://mathshistory.st-andrews.ac.uk/Biograph...,1566-1624,10035,Giuseppe Biancani's name also appears in name ...,Giuseppe Biancani's name also appears in its L...
3,159,Wilhelm Schickard,https://mathshistory.st-andrews.ac.uk/Biograph...,1592-1635,10272,Wilhelm Schickard's name is sometimes written ...,Wilhelm Schickard's name is sometimes written ...
4,186,Johannes Hevelius,https://mathshistory.st-andrews.ac.uk/Biograph...,1611-1687,10856,The first problem that we have to address is t...,The first problem that we have to address is t...

In [22]:
### Choose one document
txt = textes.iloc[1].coref_texte #[:1600]
print(txt)

Michael Mästlin was born in Göppingen which was a village about 50 km east of Tübingen. Mästlin father, Jakob Mästlin, and Mästlin mother, Dorothea Simon, were both devout Lutherans and Michael was brought up in that faith and remained strongly committed to father throughout Mästlin life. Mästlin was the middle child of the family, having an older sister and a younger brother. Mästlin attended the monastic school in Königsbronn then, after Mästlin studies there, entered Tübingen University in 1568. [3]:-
As was the case with many young scholars including Kepler, Mästlin most famous student, [Mästlin ] did Mästlin undergraduate studies at a preparatory school and came to the university to take Mästlin final exams and pick up Mästlin baccalaureate degree.At Tübingen University Mästlin studied mathematics and astronomy for a Master's degree under Philipp Apian who was Peter Apian's son. In 1570, while a student, Mästlin purchased a copy of Copernicus's De revolutionibus from the widow of Victorin Strigel, who had been professor of theology at Leipzig and the author of an astronomy text. Mästlin was awarded a Master 's degree with distinction in 1571. While studying for this degree Mästlin had edited a new edition of the Prutenis Tables which was published in 1571. The Prutenis Tables had been originally compiled by Erasmus Reinhold who had based 1571 on Copernicus's version of the solar system. After graduating, Mästlin spent the following years teaching in Tübingen, and at the same time took [3]:-
... the theological programme, because Tübingen University's primary mission wa

## EntityLinker

* https://spacy.io/api/entitylinker

In [41]:
nlp = spacy.load('en_core_web_lg')
nlp.add_pipe("entityLinker", last=True)

In [23]:
doc = nlp(txt)

In [ ]:
all_linked_entities = doc._.linkedEntities
for sent in doc.sents:
    sent._.linkedEntities.pretty_print()

## Tapioca

In [42]:
nlpt = spacy.blank('en')
nlpt.add_pipe('opentapioca')

In [43]:
doc = nlpt(txt)

In [44]:
for span in doc.ents:
    print((span.text, span.kb_id_, span.label_, span._.description, span._.score))

('Michael Mästlin', 'Q75797', 'PERSON', ['German astronomer and mathematician'], 0.2854680000713362)
('Tübingen', 'Q3806', 'LOC', ['town in central Baden-Württemberg, Germany'], 0.17486283790026913)
('Lutherans', 'Q75809', 'ORG', ['form of Protestantism commonly associated with the teachings of Martin Luther'], 0.5236875221224303)
('baccalaureate degree', 'Q163727', 'ORGLOC', ['undergraduate academic degree lasting from three to seven years'], 0.9245065136261129)
('Philipp Apian', 'Q68523', 'PERSON', ['German mathematician and cartographer'], 0.8226047751456572)
('who', 'Q7817', 'ORG', ['specialized agency of the United Nations that is concerned with international public health'], 0.29657195961276084)
('Peter Apian', 'Q58662', 'PERSON', ['German astronomer, mathematician and cartographer'], 0.4184618420675229)
('Copernicus', 'Q619', 'PERSON', ['Polish mathematician and astronomer (1473–1543)'], 0.27609939171053066)
('De', 'Q183', 'LOC', ['country in Central Europe'], 0.9377298576625565)
('who', 'Q7817', 'ORG', ['specialized agency of the United Nations that is concerned with international public health'], 0.5048839392703942)
('Leipzig', 'Q2079', 'LOC', ['largest city in Saxony, Germany'], 0.42133095236296036)
('Erasmus Reinhold', 'Q544169', 'PERSON', ['German astronomer and mathematician'], 0.3157337224094091)
('who', 'Q7817', 'ORG', ['specialized agency of the United Nations that is concerned with international public health'], 0.07678731103919634)
('Copernicus', 'Q619', 'PERSON', ['Polish mathematician and astronomer (1473–1543)'], 0.24243810747189298)
('Tübingen', 'Q3806', 'LOC', ['town in central Baden-Württemberg, Germany'], 0.6835745999585295)
('Tübingen', 'Q3806', 'LOC', ['town in central Baden-Württemberg, Germany'], 0.23408993695401803)

* https://www.wikidata.org/wiki/Q544169

## Test on a list of named entities

In [31]:
q2 = """
select regexp_replace(e_text, 'the |The ', '') e_name, e_label as e_class, count(*) as eff
from mathshistory.entity e 
where TRUE
and e_label in ('ORG', 'GPE')
--and e_text ~ 'Society'
group by regexp_replace(e_text, 'the |The ', ''), e_label 
order by eff desc;
"""

In [32]:
result = pgf.sql_explore(q2, conn)
print(f'Lines count: {len(result[0])}, errors count: {len(result[1])}, \nFirst lines: {result[0][:5]}')

Lines count: 28495, errors count: 0,
First lines: [('Paris', 'GPE', 2593), ('United States', 'GPE', 1781), ('Germany', 'GPE', 1664), ('France', 'GPE', 1568), ('London', 'GPE', 1481)]

In [33]:
nam_en = pd.DataFrame(result[0])
nam_en.columns = ['e_name', 'e_class', 'eff']

In [34]:
nam_en.head()

          e_name e_class   eff
0          Paris     GPE  2593
1  United States     GPE  1781
2        Germany     GPE  1664
3         France     GPE  1568
4         London     GPE  1481

In [35]:
nam_en.groupby(by='e_class').size().sort_values(ascending=False)

e_class
ORG    21125
GPE     7370
dtype: int64

In [36]:
# apply function on two columns 

def create_label(row):
    if row.e_class == 'GPE':
        label = row.e_name + ' is a geographical place'
    elif row.e_class == 'ORG':
        label = row.e_name + ' is an organization'
    else:
        label = row.e_name

    return label

In [37]:
nam_en['label'] = nam_en.apply(create_label, axis=1)
nam_en.head()

          e_name e_class   eff                                  label
0          Paris     GPE  2593          Paris is a geographical place
1  United States     GPE  1781  United States is a geographical place
2        Germany     GPE  1664        Germany is a geographical place
3         France     GPE  1568         France is a geographical place
4         London     GPE  1481         London is a geographical place

### Test with Tapioca

In [45]:
doc = nlpt(', '.join(list(nam_en.label)[:30]))

In [46]:
entities = [span for span in doc.ents]

for e in entities:
    print((e.text, e.kb_id_, e.label_, e._.description, e._.score))

('Paris', 'Q90', 'LOC', ['capital and largest city of France'], 0.1214906373005522)
('United States', 'Q30', 'LOC', ['country in North America'], 1.0127116327362797)
('Germany', 'Q183', 'LOC', ['country in Central Europe'], 0.7112720552567512)
('France', 'Q142', 'LOC', ['country in Western Europe'], 1.3557242937411331)
('London', 'Q84', 'LOC', ['capital and largest city of the United Kingdom'], 1.2238206631655175)
('England', 'Q21', 'LOC', ['country in north-west Europe, part of the United Kingdom'], 0.7924021860505607)
('Cambridge', 'Q350', 'LOC', ['city in Cambridgeshire, England'], 0.4328834914830876)
('Berlin', 'Q64', 'LOC', ['federal state, capital and largest city of Germany'], 0.680059181539742)
('Cambridge', 'Q350', 'LOC', ['city in Cambridgeshire, England'], 0.4206936526319923)
('Italy', 'Q38', 'LOC', ['country in Southern Europe'], 0.5552404961659491)
('Rome', 'Q220', 'LOC', ['capital and largest city of Italy'], 0.8699414931328439)
('New York', 'Q60', 'LOC', ['most populous city in the United States of America'], 0.5174878372682846)
('Royal Society', 'Q123885', 'ORG', ['English learned society for science'], 0.32954903906260136)
('Poland', 'Q36', 'LOC', ['country in Central Europe'], 0.5735104442533655)
('Moscow', 'Q649', 'LOC', ['capital and most populous city of Russia'], 1.161915443188299)
('Russia', 'Q159', 'ORGLOC', ['former empire in Eurasia (1721–1917) and North America (1721–1867)'], 0.4242091542158647)
('Vienna', 'Q1741', 'LOC', ['capital of and state in Austria'], 0.3382602663230495)
('American Mathematical Society', 'Q465654', 'ORG', ['association of professional mathematicians'], 0.7861161502633417)
('École Polytechnique', 'Q273626', 'ORG', ['French institution of higher education and research in Palaiseau'], 1.0232802801585854)
('Scotland', 'Q22', 'LOC', ['constituent country of the United Kingdom'], 0.13864404340338543)

### Test with entityLinker

In [48]:
doc = nlp(', '.join(list(nam_en.label)[:30]))

In [49]:
all_linked_entities = doc._.linkedEntities
for sent in doc.sents:
    sent._.linkedEntities.pretty_print()

<EntityElement: https://www.wikidata.org/wiki/Q90 Paris                     capital and largest city of France                >
<EntityElement: https://www.wikidata.org/wiki/Q82794 geographic region         2D or 3D defined space, mainly in terrestrial and astrophysics sciences>
<EntityElement: https://www.wikidata.org/wiki/Q30 United States of America  federal republic in North America                 >
<EntityElement: https://www.wikidata.org/wiki/Q82794 geographic region         2D or 3D defined space, mainly in terrestrial and astrophysics sciences>
<EntityElement: https://www.wikidata.org/wiki/Q183 Germany                   federal parliamentary republic in central-western Europe>
<EntityElement: https://www.wikidata.org/wiki/Q82794 geographic region         2D or 3D defined space, mainly in terrestrial and astrophysics sciences>
<EntityElement: https://www.wikidata.org/wiki/Q142 France                    republic with mainland in Europe and numerous oversea territories>
<EntityElement: https://www.wikidata.org/wiki/Q82794 geographic region         2D or 3D defined space, mainly in terrestrial and astrophysics sciences>
<EntityElement: https://www.wikidata.org/wiki/Q84 London                    capital and largest city of the United Kingdom    >
<EntityElement: https://www.wikidata.org/wiki/Q82794 geographic region         2D or 3D defined space, mainly in terrestrial and astrophysics sciences>
<EntityElement: https://www.wikidata.org/wiki/Q21 England                   country in north-west Europe, part of the United Kingdom>
<EntityElement: https://www.wikidata.org/wiki/Q82794 geographic region         2D or 3D defined space, mainly in terrestrial and astrophysics sciences>
<EntityElement: https://www.wikidata.org/wiki/Q35794 University of Cambridge   collegiate public research university in Cambridge, England, United Kingdom>
<EntityElement: https://www.wikidata.org/wiki/Q82794 geographic region         2D or 3D defined space, mainly in terrestrial and astrophysics sciences>
<EntityElement: https://www.wikidata.org/wiki/Q64 Berlin                    capital and largest city of Germany               >
<EntityElement: https://www.wikidata.org/wiki/Q82794 geographic region         2D or 3D defined space, mainly in terrestrial and astrophysics sciences>
<EntityElement: https://www.wikidata.org/wiki/Q35794 University of Cambridge   collegiate public research university in Cambridge, England, United Kingdom>
<EntityElement: https://www.wikidata.org/wiki/Q43229 organization              social entity (not necessarily commercial) uniting people into a structured group managing shared me>
<EntityElement: https://www.wikidata.org/wiki/Q21578 Princeton University      private Ivy League research university in Princeton, New Jersey, United States>
<EntityElement: https://www.wikidata.org/wiki/Q43229 organization              social entity (not necessarily commercial) uniting people into a structured group managing shared me>
<EntityElement: https://www.wikidata.org/wiki/Q38 Italy                     Republic in Southern Europe, member of the European Union>
<EntityElement: https://www.wikidata.org/wiki/Q82794 geographic region         2D or 3D defined space, mainly in terrestrial and astrophysics sciences>
<EntityElement: https://www.wikidata.org/wiki/Q3033 Göttingen                 Large city in Lower Saxony, Germany               >
<EntityElement: https://www.wikidata.org/wiki/Q82794 geographic region         2D or 3D defined space, mainly in terrestrial and astrophysics sciences>
<EntityElement: https://www.wikidata.org/wiki/Q220 Rome                      capital and largest city of Italy                 >
<EntityElement: https://www.wikidata.org/wiki/Q82794 geographic region         2D or 3D defined space, mainly in terrestrial and astrophysics sciences>
<EntityElement: https://www.wikidata.org/wiki/Q664773 Society                   1989 American horror film directed by Brian Yuzna >
<EntityElement: https://www.wikidata.org/wiki/Q43229 organization              social entity (not necessarily commercial) uniting people into a structured group managing shared me>
<EntityElement: https://www.wikidata.org/wiki/Q60 New York City             city in state of New York, largest city in the United States by population>
<EntityElement: https://www.wikidata.org/wiki/Q82794 geographic region         2D or 3D defined space, mainly in terrestrial and astrophysics sciences>
<EntityElement: https://www.wikidata.org/wiki/Q2422019 College                   episode of The Sopranos (S1 E5)                   >
<EntityElement: https://www.wikidata.org/wiki/Q43229 organization              social entity (not necessarily commercial) uniting people into a structured group managing shared me>
<EntityElement: https://www.wikidata.org/wiki/Q23436 Edinburgh                 capital city of Scotland, UK                      >
<EntityElement: https://www.wikidata.org/wiki/Q82794 geographic region         2D or 3D defined space, mainly in terrestrial and astrophysics sciences>
<EntityElement: https://www.wikidata.org/wiki/Q123885 Royal Society             English learned society for science               >
<EntityElement: https://www.wikidata.org/wiki/Q43229 organization              social entity (not necessarily commercial) uniting people into a structured group managing shared me>
<EntityElement: https://www.wikidata.org/wiki/Q36 Poland                    republic in Central Europe                        >
<EntityElement: https://www.wikidata.org/wiki/Q82794 geographic region         2D or 3D defined space, mainly in terrestrial and astrophysics sciences>
<EntityElement: https://www.wikidata.org/wiki/Q649 Moscow                    capital city and the largest city of Russia; separate federal subject of Russia>
<EntityElement: https://www.wikidata.org/wiki/Q82794 geographic region         2D or 3D defined space, mainly in terrestrial and astrophysics sciences>
<EntityElement: https://www.wikidata.org/wiki/Q159 Russia                    transcontinental country in Eastern Europe and Northern Asia>
<EntityElement: https://www.wikidata.org/wiki/Q82794 geographic region         2D or 3D defined space, mainly in terrestrial and astrophysics sciences>
<EntityElement: https://www.wikidata.org/wiki/Q13371 Harvard University        private research university in Cambridge, Massachusetts, United States>
<EntityElement: https://www.wikidata.org/wiki/Q43229 organization              social entity (not necessarily commercial) uniting people into a structured group managing shared me>
<EntityElement: https://www.wikidata.org/wiki/Q4780357 Apollo Theatre            former Broadway theatre in Manhattan, New York City>
<EntityElement: https://www.wikidata.org/wiki/Q43229 organization              social entity (not necessarily commercial) uniting people into a structured group managing shared me>
<EntityElement: https://www.wikidata.org/wiki/Q1741 Vienna                    capital and one of nine States of Austria         >
<EntityElement: https://www.wikidata.org/wiki/Q82794 geographic region         2D or 3D defined space, mainly in terrestrial and astrophysics sciences>
<EntityElement: https://www.wikidata.org/wiki/Q465654 American Mathematical Society association of professional mathematicians        >
<EntityElement: https://www.wikidata.org/wiki/Q43229 organization              social entity (not necessarily commercial) uniting people into a structured group managing shared me>
<EntityElement: https://www.wikidata.org/wiki/Q273626 École Polytechnique       French institution of higher education and research in Palaiseau>
<EntityElement: https://www.wikidata.org/wiki/Q43229 organization              social entity (not necessarily commercial) uniting people into a structured group managing shared me>
<EntityElement: https://www.wikidata.org/wiki/Q7894492 University                episode of The Sopranos (S3 E6)                   >
<EntityElement: https://www.wikidata.org/wiki/Q43229 organization              social entity (not necessarily commercial) uniting people into a structured group managing shared me>
<EntityElement: https://www.wikidata.org/wiki/Q72 Zürich                    capital of the canton of Zürich, Switzerland      >
<EntityElement: https://www.wikidata.org/wiki/Q82794 geographic region         2D or 3D defined space, mainly in terrestrial and astrophysics sciences>
<EntityElement: https://www.wikidata.org/wiki/Q34433 University of Oxford      university in Oxfordshire, UK                     >
<EntityElement: https://www.wikidata.org/wiki/Q43229 organization              social entity (not necessarily commercial) uniting people into a structured group managing shared me>
<EntityElement: https://www.wikidata.org/wiki/Q22 Scotland                  country in Northwest Europe, part of the United Kingdom>
<EntityElement: https://www.wikidata.org/wiki/Q82794 geographic region         2D or 3D defined space, mainly in terrestrial and astrophysics sciences>

In [50]:
ent = doc._.linkedEntities[0]
ent

In [51]:
print(ent.get_span(), ent.get_label(), 'https://www.wikidata.org/wiki/Q' + str(ent.get_id()), ent.get_description())

Paris Paris https://www.wikidata.org/wiki/Q90 capital and largest city of France

In [52]:
en_linked = []
for ent in doc._.linkedEntities:
    en_linked.append([str(ent.get_span()), ent.get_label(), 'https://www.wikidata.org/wiki/Q' + str(ent.get_id()), ent.get_description()])
len(en_linked)

60

In [53]:
df_en_linked = pd.DataFrame(en_linked)
df_en_linked. columns = ['label_loc', 'label_wkd', 'URI_Wkd', 'definition']
df_en_linked.head()

,label_loc,label_wkd,URI_Wkd,definition
0,Paris,Paris,https://www.wikidata.org/wiki/Q90,capital and largest city of France
1,place,geographic region,https://www.wikidata.org/wiki/Q82794,"2D or 3D defined space, mainly in terrestrial ..."
2,United States,United States of America,https://www.wikidata.org/wiki/Q30,federal republic in North America
3,place,geographic region,https://www.wikidata.org/wiki/Q82794,"2D or 3D defined space, mainly in terrestrial ..."
4,Germany,Germany,https://www.wikidata.org/wiki/Q183,federal parliamentary republic in central-west...

In [54]:
nam_en_linked = pd.merge(nam_en, df_en_linked, how="left", left_on="e_name", right_on="label_loc", copy=True)

In [56]:
nam_en_linked.head(10)

,e_name,e_class,eff,label,label_loc,label_wkd,URI_Wkd,definition
0,Paris,GPE,2593,Paris is a geographical place,Paris,Paris,https://www.wikidata.org/wiki/Q90,capital and largest city of France
1,United States,GPE,1781,United States is a geographical place,United States,United States of America,https://www.wikidata.org/wiki/Q30,federal republic in North America
2,Germany,GPE,1664,Germany is a geographical place,Germany,Germany,https://www.wikidata.org/wiki/Q183,federal parliamentary republic in central-west...
3,France,GPE,1568,France is a geographical place,France,France,https://www.wikidata.org/wiki/Q142,republic with mainland in Europe and numerous ...
4,London,GPE,1481,London is a geographical place,London,London,https://www.wikidata.org/wiki/Q84,capital and largest city of the United Kingdom
5,England,GPE,1309,England is a geographical place,England,England,https://www.wikidata.org/wiki/Q21,"country in north-west Europe, part of the Unit..."
6,Cambridge,GPE,1236,Cambridge is a geographical place,Cambridge,University of Cambridge,https://www.wikidata.org/wiki/Q35794,collegiate public research university in Cambr...
7,Cambridge,GPE,1236,Cambridge is a geographical place,Cambridge,University of Cambridge,https://www.wikidata.org/wiki/Q35794,collegiate public research university in Cambr...
8,Berlin,GPE,1182,Berlin is a geographical place,Berlin,Berlin,https://www.wikidata.org/wiki/Q64,capital and largest city of Germany
9,Cambridge,ORG,1051,Cambridge is an organization,Cambridge,University of Cambridge,https://www.wikidata.org/wiki/Q35794,collegiate public research university in Cambr...

## Use entities list

In [92]:
doc = nlp(', '.join(list(nam_en.label)[:30]))

In [93]:
en_linked = []
for span in doc.ents:
    en_linked.append([span.text, span.kb_id_, span.label_, span._.description, span._.score])
len(en_linked)

20

In [94]:
df_en_linked = pd.DataFrame(en_linked)
df_en_linked. columns = ['label', 'Wiki_Q', 'class', 'definitions', 'matching_score']
df_en_linked.head()

,label,Wiki_Q,class,definitions,matching_score
0,Paris,Q90,LOC,[capital and largest city of France],0.121491
1,United States,Q30,LOC,[country in North America],1.012712
2,Germany,Q183,LOC,[country in Central Europe],0.711272
3,France,Q142,LOC,[country in Western Europe],1.355724
4,London,Q84,LOC,[capital and largest city of the United Kingdom],1.223821

In [95]:
nam_en_linked = pd.merge(nam_en, df_en_linked, how="left", left_on="e_name", right_on="label", copy=True)

In [96]:
nam_en_linked.head(50)

,e_name,e_class,eff,label_x,label_y,Wiki_Q,class,definitions,matching_score
0,Paris,GPE,2593,Paris is a geographical place,Paris,Q90,LOC,[capital and largest city of France],0.121491
1,United States,GPE,1781,United States is a geographical place,United States,Q30,LOC,[country in North America],1.012712
2,Germany,GPE,1664,Germany is a geographical place,Germany,Q183,LOC,[country in Central Europe],0.711272
3,France,GPE,1568,France is a geographical place,France,Q142,LOC,[country in Western Europe],1.355724
4,London,GPE,1481,London is a geographical place,London,Q84,LOC,[capital and largest city of the United Kingdom],1.223821
5,England,GPE,1309,England is a geographical place,England,Q21,LOC,"[country in north-west Europe, part of the Uni...",0.792402
6,Cambridge,GPE,1236,Cambridge is a geographical place,Cambridge,Q350,LOC,"[city in Cambridgeshire, England]",0.432883
7,Cambridge,GPE,1236,Cambridge is a geographical place,Cambridge,Q350,LOC,"[city in Cambridgeshire, England]",0.420694
8,Berlin,GPE,1182,Berlin is a geographical place,Berlin,Q64,LOC,"[federal state, capital and largest city of Ge...",0.680059
9,Cambridge,ORG,1051,Cambridge is an organization,Cambridge,Q350,LOC,"[city in Cambridgeshire, England]",0.432883
10,Cambridge,ORG,1051,Cambridge is an organization,Cambridge,Q350,LOC,"[city in Cambridgeshire, England]",0.420694
11,Princeton,ORG,946,Princeton is an organization,NaN,NaN,NaN,NaN,NaN
12,Italy,GPE,903,Italy is a geographical place,Italy,Q38,LOC,[country in Southern Europe],0.555240
13,Göttingen,GPE,887,Göttingen is a geographical place,NaN,NaN,NaN,NaN,NaN
14,Rome,GPE,782,Rome is a geographical place,Rome,Q220,LOC,[capital and largest city of Italy],0.869941
15,Society,ORG,744,Society is an organization,NaN,NaN,NaN,NaN,NaN
16,New York,GPE,723,New York is a geographical place,New York,Q60,LOC,[most populous city in the United States of Am...,0.517488
17,College,ORG,662,College is an organization,NaN,NaN,NaN,NaN,NaN
18,Edinburgh,GPE,635,Edinburgh is a geographical place,NaN,NaN,NaN,NaN,NaN
19,Royal Society,ORG,623,Royal Society is an organization,Royal Society,Q123885,ORG,[English learned society for science],0.329549
20,Poland,GPE,609,Poland is a geographical place,Poland,Q36,LOC,[country in Central Europe],0.573510
21,Moscow,GPE,562,Moscow is a geographical place,Moscow,Q649,LOC,[capital and most populous city of Russia],1.161915
22,Russia,GPE,561,Russia is a geographical place,Russia,Q159,ORGLOC,[former empire in Eurasia (1721–1917) and Nort...,0.424209
23,Harvard,ORG,544,Harvard is an organization,NaN,NaN,NaN,NaN,NaN
24,Academy,ORG,539,Academy is an organization,NaN,NaN,NaN,NaN,NaN
25,Vienna,GPE,521,Vienna is a geographical place,Vienna,Q1741,LOC,[capital of and state in Austria],0.338260
26,American Mathematical Society,ORG,493,American Mathematical Society is an organization,American Mathematical Society,Q465654,ORG,[association of professional mathematicians],0.786116
27,École Polytechnique,ORG,487,École Polytechnique is an organization,École Polytechnique,Q273626,ORG,[French institution of higher education and re...,1.023280
28,University,ORG,468,University is an organization,NaN,NaN,NaN,NaN,NaN
29,Zürich,GPE,463,Zürich is a geographical place,NaN,NaN,NaN,NaN,NaN
30,Oxford,ORG,457,Oxford is an organization,NaN,NaN,NaN,NaN,NaN
31,Scotland,GPE,414,Scotland is a geographical place,Scotland,Q22,LOC,[constituent country of the United Kingdom],0.138644
32,Oxford,GPE,396,Oxford is a geographical place,NaN,NaN,NaN,NaN,NaN
33,Institute for Advanced Study,ORG,367,Institute for Advanced Study is an organization,NaN,NaN,NaN,NaN,NaN
34,Bologna,GPE,363,Bologna is a geographical place,NaN,NaN,NaN,NaN,NaN
35,Warsaw,GPE,356,Warsaw is a geographical place,NaN,NaN,NaN,NaN,NaN
36,Institute,ORG,350,Institute is an organization,NaN,NaN,NaN,NaN,NaN
37,Hungary,GPE,348,Hungary is a geographical place,NaN,NaN,NaN,NaN,NaN
38,India,GPE,331,India is a geographical place,NaN,NaN,NaN,NaN,NaN
39,Dublin,GPE,323,Dublin is a geographical place,NaN,NaN,NaN,NaN,NaN
40,Trinity College,ORG,319,Trinity College is an organization,NaN,NaN,NaN,NaN,NaN
41,St Petersburg,GPE,312,St Petersburg is a geographical place,NaN,NaN,NaN,NaN,NaN
42,University of Chicago,ORG,309,University of Chicago is an organization,NaN,NaN,NaN,NaN,NaN
43,Department of Mathematics,ORG,309,Department of Mathematics is an organization,NaN,NaN,NaN,NaN,NaN
44,Spain,GPE,308,Spain is a geographical place,NaN,NaN,NaN,NaN,NaN
45,University of Berlin,ORG,297,University of Berlin is an organization,NaN,NaN,NaN,NaN,NaN
46,Budapest,GPE,294,Budapest is a geographical place,NaN,NaN,NaN,NaN,NaN
47,Britain,GPE,287,Britain is a geographical place,NaN,NaN,NaN,NaN,NaN
48,Canada,GPE,286,Canada is a geographical place,NaN,NaN,NaN,NaN,NaN
49,Prague,GPE,284,Prague is a geographical place,NaN,NaN,NaN,NaN,NaN